<% provide(:title, "Drivers confirmation") %>
<h1>Driver confirmation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

      <% if @nil_drivers.count > 0 %>
        <label>Drivers</label>
        <% @nil_drivers.each do |element| %>
         <div class="col-md-12"> 
           <%= element.name %> 
           <%= form_tag(admins_approve_path) do  %>
            <%= hidden_field_tag 'id' , element.id %>
            <%= submit_tag 'Approve' ,class:"btn btn-primary col-md-2"%>
          <%end%>
           <%= form_tag(admins_reject_path) do  %>
            <%= hidden_field_tag 'id' , element.id %>
            <%= submit_tag 'Reject',class:"btn btn-primary col-md-2" %>
          <%end%>
        </div>
      <% end %>
       
      <%else%>
         <label>No drivers for approve or reject</label>
      <% end %>

  </div>
</div>