<% provide(:title, "Drivers confirmation") %>
<h1>Driver confirmation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:admin, url: '') do |f| %>
    
    <%= f.label :Drivers %>
    <%= f.collection_select :driver, Driver.order(:name), :id, :name,  {:prompt => @select_value, :selected => :id } %>
    
    <%= link_to "Approve", approve_path, :class => 'btn btn-primary'%>
    <%= link_to "Reject", reject_path, :class => 'btn btn-primary'%>

    <% end %>

  </div>
</div>