<% provide(:title, "Drivers confirmation") %>
<h1>ahora vemo</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:admin, url: 'admins/create') do |f| %>
    
    <%= f.label :Drivers %>
    <%= f.collection_select :driver, Driver.order(:name), :id, :name,  {:prompt => @select_value, :selected => :id } %>
    
    <!--<%= f.button "Approve", button_to: "/admins/approve" %>-->
    <%= button_to 'si', approve(:id)  %>
    
    <%= f.button "Reject", class: "btn btn-primary" %>
    
    <% end %>

  </div>
</div>