<% provide(:title, 'Sign up as Driver') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@driver, url: '/drivers/signup') do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
      
      <%= f.label :document %>
      <%= f.text_field :document %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
      
      <%= f.label 'Documentation (PDF)' %>
      <%= f.file_field :documentation %>
      
      <%= f.label "Licence's picture" %>
      <%= f.file_field :license %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>