<% provide(:title, "Shipment list") %>
<h1>Shipment list</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(:admin, url: 'admins/create') do |f| %>
          <%= f.label :Shipments_in_progress %>
          <% @shipment_in_progress.each do |element| %>
             <li><%= element %><button>ver</button></li>
          <% end %>
          
          <%= f.label :Shipments_ended %>
          <% @shipment_ended.each do |element| %>
             <li><%= element.price %><button>ver</button></li>
          <% end %>
      
    <% end %>

  </div>
</div>