<% provide(:title, "Shipment") %>
<h1>Shipment</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
          <label>Sender email:</label>
          <%= @shipment.sender.email%>
          <br>
          <label>Destination email:</label>
          <%= @shipment.receiver.email%>
          <br>
          <label>Date:</label>
          <%= @shipment.date%>
          <br>
          <label>Origin:</label>
          <%= @shipment.origin.street%>,
          <%= @shipment.origin.number%>,
          <%= @shipment.origin.zipcode%>
          <br>
          <label>Destination:</label>
          <%= @shipment.destination.street%>,
          <%= @shipment.origin.number%>,
          <%= @shipment.origin.zipcode%>
          <br>
          <label>Price:</label>
          <%= @shipment.price%>
          <br>
          <label>State:</label>
          <%= @shipment.state%>
          <br>
          <label>Payment method:</label>
          <%= @shipment.payment%>
          <br>
          
          <% if @shipment.state == 'In progress' %>
          <%= form_tag(drivers_delivered_path) do  %>
            <%= hidden_field_tag 'shipment_id' , @shipment.id %>
            <%= submit_tag 'End' %>
          <%end%>
        <% end %>
  </div>
</div>