<% provide(:title, 'Shipment details') %>
<h1>Shipment details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@Shipment, url: shipments_create_path(:ship => @shipment)) do |f| %>
    
      <%= f.label "Origin" %>
        <%= @Shipment.origin.street %>, 
        <%= @Shipment.origin.number %>
      <br>
      
      <%= f.label "Destination" %> 
        <%= @Shipment.destination.street %>, 
        <%= @Shipment.destination.number %>
      <br>
      
      <%= f.label "receiver's user email" %>
      <%= f.text_field :receiver %>
      
      <%= f.label :payment %>
      <%= f.select :payment, options_for_select([["I pay"], ["He pays"], ["Both"]]) %>
      
      <%= f.label :drive %>
      <%= f.collection_select :driver, @near_drivers, :id, :name,  {:prompt => @select_value, :selected => :id } %>
      
      <%= f.label 'Weight' %>
      <%= f.text_field :weight %>
      


      <%= f.submit "Create shipment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>