<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Autocomplete - Remote datasource</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<% provide(:title, 'Shipment details') %>
<h1>Shipment details</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@Shipment, url: shipments_create_path(:ship => @shipment)) do |f| %>
    
      <%= f.label "Origin" %>
        <%= @Shipment.origin.street %>, 
        <%= @Shipment.origin.number %>
        <%= text_field_tag 'originLat', @Shipment.origin.lat %>
        <%= text_field_tag 'originLng', @Shipment.origin.long %>
      <br>
      
      <%= f.label "Destination" %> 
        <%= @Shipment.destination.street %>, 
        <%= @Shipment.destination.number %>
        <%= text_field_tag 'destinationLat', @Shipment.destination.lat%>
        <%= text_field_tag 'destinationLng', @Shipment.destination.long %>
      <br>
      
      <%= f.label "receiver's user email" %>
      <%= text_field_tag 'receiver' %>
      
      
      
      
<!--      <div class="ui-widget">-->
<!--  <label for="birds">Birds: </label>-->
<!--  <input id="birds">-->
<!--</div>-->
 
<!--<div class="ui-widget" style="margin-top:2em; font-family:Arial">-->
<!--  Result:-->
<!--  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>-->
<!--</div>-->
      
      
      
      
      <%= f.label :payment %>
      <%= f.select :payment, options_for_select([["I pay"], ["He pays"], ["Both"]]) %>
      
      <%= f.label :drive %>
     
      
      <%= f.label 'Weight' %>
      <%= f.text_field :weight %>
      


      <%= f.submit "Create shipment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $( function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#birds" ).autocomplete({
      source: "https://obligatorio1-erreperez.c9users.io/users/all",
      minLength: 2,
      select: function( event, ui ) {
        log( "Selected: " + ui.item.value + " aka " + ui.item.id );
      }
    });
  } );
  </script>